.main {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 20px 30px;
    height: inherit;
    .h2 {
      font-size: 32px;
    }
    .a__github {
      color: #e6eef3;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer;
      transition: color 0.2s;
      font-size: 22px;
      &:hover {
        color: #a8bacc;
      }
    }
    .span {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
